<ion-header>
</ion-header>

<ion-content>

  <div class="background-container">

    <div class="background-filter">

   

    <ion-card>
      
     <ion-card-header>
       <ion-card-title>
        
       </ion-card-title>
     </ion-card-header>
     <ion-card-content>
       <ion-button (click)="loginPage()">
         Login
       </ion-button>
       <ion-button (click)="registroPage()">
        Registro
      </ion-button>
     </ion-card-content>
    </ion-card>
    </div>
  </div>

</ion-content>
