.background-pic{
    height: 100vh;
    width: 100%;
    background: url('/../assets/background2.svg');
    background-position: 30%;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-filter{
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.8);
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cesta{

    width: 30px;
    height: 32px;
    margin-right: 3px;
    margin-left: 3px;

}

.icono{

    height: 25px;
    width: 35px;
    padding: 1px;
}

.font-size-1{
    font-size: 15px;
}

.imgcec {

    position: relative;
    width: 120px;
    height: 120px;
    margin-left: auto; 
    margin-right: auto;
    display: block; margin: auto; 
    /* Para ver la transformación mejor */
    border: 1px solid rgb(181, 194, 185);
  }
  
  .icono2{

    height: 30px;
    width: 27px;
    padding: 1px;
}
.icono3{

    height: 30px;
    width: 35px;
    padding: 1px;
    margin-left: 50px;
}

.item1{
    --ion-item-background:transparent;
    --border-width:0;
    --inner-border-width:0;
    --highlight-color-focused:none;
    margin-top: -23px;
}