
<ion-content>
<form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">
<div class="background-pic">
  <div class="background-filter">
    <img src="../../assets/Logo1.png" />

    <ion-card>
      
      <ion-card-header>
        <ion-card-title>
          Un exterior saludable comienza en tu interior.
        </ion-card-title>
        <ion-card-subtitle>
        Regístrate   
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="sign">
        <ion-item>
          <ion-label>Nombre</ion-label>
          <ion-input [value]="name" (input)="do_something1($event)" placeholder="Nombre" class="form-controll" required="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Apellidos</ion-label>
          <ion-input [value]="surname" (input)="do_something2($event)" placeholder="Apellidos" class="form-controll" required="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Teléfono</ion-label>
          <ion-input  [value]="tlf" (input)="do_something4($event)" placeholder="Teléfono" class="form-controll" required="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Dirección</ion-label>
          <ion-input  [value]="address" (input)="do_something3($event)" placeholder="Dirección" class="form-controll" required="true"></ion-input>
        </ion-item>
      </div>
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input [value]="email5" (input)="do_something5($event)" type="email" placeholder="Email" required="true" formControlName="email"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message"
              *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div> 
        <ion-item>
          <ion-label>Contraseña</ion-label>
          <ion-input type="password" placeholder="Contraseña" formControlName="password" class="form-controll" required></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message"
              *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
          
        </div>

        <div class="bottom-section">
          <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid">Registrar</ion-button>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
          <span> ¿Ya tienes una cuenta? <a href="http://localhost:8100/login"> Inicia Sesión</a></span>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>
</form>
</ion-content>
